.text-center {
    margin-top: 150px;

    &__ul {


        &__li:nth-child(1) {

            font-size: 45px;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(10, 3, 60, 1);
        }

        &__li:nth-child(2) {
            font-size: 45px;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(10, 3, 60, 1);
            margin-bottom: 20px;
        }



        &__li:nth-child(3) {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(93, 90, 111, 1);
        }

        &__li:nth-child(4) {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(93, 90, 111, 1);
        }

        &__li:nth-child(5) {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
            color: rgba(93, 90, 111, 1);
            margin-bottom: 40px;
        }

        &__li:nth-child(6) {
            height: 60px;
            width: 162px;
            background-color: rgba(156, 77, 244, 1);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            font-weight: 500;
            margin: 0 auto;
        }
    }
}